.chore-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--ion-text-color);
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;

  .icon-content {
    height: 90px;
    width: 90px;
    padding: 18px;
    border-radius: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-color-step-100);
  }

  .chore-name {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
  }
}