<app-cool-header title="To-Do List" [color]="utils.getCssVarValue('--ion-color-todo')"></app-cool-header>

<ion-content>
  <div class="empty-state" *ngIf="notDoneTodoItems.length === 0 && doneTodoItems.length === 0">
    There are no to-do items registered right now. Try adding one by tapping the "+" button in the bottom right corner of the screen.
  </div>
  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-item *ngFor="let item of notDoneTodoItems;let i = index" [id]="'notDoneItem-' + i">
      <ion-reorder slot="start"></ion-reorder>
      <ion-input
        autocapitalize="on"
        [(ngModel)]="item.text"
        (change)="saveTodoItem(item)"
        (keyup.enter)="addTodoItem()"
      ></ion-input>
      <ion-checkbox slot="start" color="todo" [checked]="item.done" (ionChange)="toggleDone(item)"></ion-checkbox>
      <ion-button fill="clear" color="dark" (click)="deleteTodoItem(item)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-reorder-group>

  <ion-list *ngIf="doneTodoItems && doneTodoItems.length > 0">
    <ion-list-header>
      <ion-label>Completed tasks</ion-label>
      <ion-button fill="clear" color="dark" (click)="toggleCompletedDisplay()">
        <ion-icon slot="icon-only" name="chevron-down" [ngClass]="{'rotated': showCompleted}"></ion-icon>
      </ion-button>
    </ion-list-header>
    <!-- collapsedList is used to animate -->
    <div id="collapsedList" [ngClass]="{'disappear': !showCompleted}">
      <!-- itemsContainer is used to avoid rendering items when they're not displayed -->
      <div *ngIf="renderCompleted">
        <ion-item *ngFor="let item of doneTodoItems">
          <ion-label>{{ item.text }}</ion-label>
          <ion-checkbox slot="start" color="todo" [checked]="item.done" (ionChange)="toggleDone(item)"></ion-checkbox>
          <ion-button fill="clear" color="dark" (click)="deleteTodoItem(item)">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </div>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="addTodoItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
