<app-cool-header title="To-Do List" [color]="utils.getCssVarValue('--ion-color-todo')"></app-cool-header>

<ion-content>
  <ion-list>    
    <ion-item *ngFor="let item of notDoneTodoItems;let i = index" [id]="'notDoneItem-' + i">
      <ion-input [(ngModel)]="item.text" (change)="saveTodoItem(item, false, false)" (keyup.enter)="addTodoItem()"></ion-input>
      <ion-checkbox slot="start" color="todo" [checked]="item.done" (ionChange)="toggleDone(item)"></ion-checkbox>
      <ion-button fill="clear" color="dark" (click)="deleteTodoItem(item)" *ngIf="item.id">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Completed</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of doneTodoItems">
      <ion-label>{{ item.text }}</ion-label>
      <ion-checkbox slot="start" color="todo" [checked]="item.done" (ionChange)="toggleDone(item)"></ion-checkbox>
      <ion-button fill="clear" color="dark" (click)="deleteTodoItem(item)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="addTodoItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>