<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-content">
    <ul>
      <li>
        Icons made by
        <a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio">photo3idea_studio</a>
        from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
      </li>
      <li>
        Icons made by <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> from
        <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
      </li>
    </ul>
  </div>
</ion-content>
