:host {
  width: 100%;
  height: 100%;
  position: absolute;
  top: calc(100vh - 144px);
  z-index: 9999;
  ion-header {
    ion-toolbar {
      height: 88px;
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
      box-shadow: 0px -11px 13px 0px rgba(0, 0, 0, 0.1);

      ion-icon {
        font-size: 60px;
        height: 20px;
        display: flex;
        margin: 0 auto;
      }
    }
  }
}
