<app-cool-header title="About this app" [color]="utils.getCssVarValue('--ion-color-primary')"></app-cool-header>

<ion-content>
  <div class="spread-content">
    <ion-list>
      <ion-item>
        <ion-label class="ion-text-wrap">
          App Icon is made by the talented <a href="https://en.pedroverri.art/">Pedro Verri</a>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          In-App Icons made by
          <a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio">photo3idea_studio</a>
          , <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
          and <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> from
          <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          Chore icons are made by Nintendo™
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          This app is unofficial and not affiliated with Nintendo™ in any way.
        </ion-label>
      </ion-item>
    </ion-list>

    <div class="credits-centered">
      <p>
        This is Free Software and distributed under the GPL-V3 license. You can check out the source code on
        <a href="https://github.com/matfantinel/acnh-pocket-companion">GitHub</a>
      </p>
      <h4>Developed by <a href="https://fantinel.dev">Matheus Fantinel</a></h4>
    </div>
  </div>
</ion-content>
