// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


/** Background, text and stuff **/

:root {
  --ion-font-family: 'Raleway', sans-serif;

  --ion-background-color: #f5f2e3;
  --ion-background-color-rgb: 245,242,227;

  --ion-text-color: #5d4439;
  --ion-text-color-rgb: 93,68,57;

  --ion-color-step-50: #ede9da;
  --ion-color-step-100: #e6e1d2;
  --ion-color-step-150: #ded8ca;
  --ion-color-step-200: #d7cfc1;
  --ion-color-step-250: #cfc7b9;
  --ion-color-step-300: #c7beb0;
  --ion-color-step-350: #c0b5a8;
  --ion-color-step-400: #b8ac9f;
  --ion-color-step-450: #b1a497;
  --ion-color-step-500: #a99b8e;
  --ion-color-step-550: #a19286;
  --ion-color-step-600: #9a8a7d;
  --ion-color-step-650: #928175;
  --ion-color-step-700: #8b786c;
  --ion-color-step-750: #837064;
  --ion-color-step-800: #7b675b;
  --ion-color-step-850: #745e53;
  --ion-color-step-900: #6c554a;
  --ion-color-step-950: #654d42;
}


/** Color Palette **/
:root {
  --ion-color-primary: #14c5b5;
  --ion-color-primary-rgb: 20,197,181;
  --ion-color-primary-contrast: var(--ion-text-color);
  --ion-color-primary-contrast-rgb: var(--ion-text-color-rgb);
  --ion-color-primary-shade: #12ad9f;
  --ion-color-primary-tint: #2ccbbc;

  --ion-color-secondary: #fc984a;
  --ion-color-secondary-rgb: 252,152,74;
  --ion-color-secondary-contrast: var(--ion-text-color);
  --ion-color-secondary-contrast-rgb: var(--ion-text-color-rgb);
  --ion-color-secondary-shade: #de8641;
  --ion-color-secondary-tint: #fca25c;

  --ion-color-tertiary: #f8a6b2;
  --ion-color-tertiary-rgb: 248,166,178;
  --ion-color-tertiary-contrast: var(--ion-text-color);
  --ion-color-tertiary-contrast-rgb: var(--ion-text-color-rgb);
  --ion-color-tertiary-shade: #da929d;
  --ion-color-tertiary-tint: #f9afba;

  --ion-color-success: #b4e3b5;
  --ion-color-success-rgb: 180,227,181;
  --ion-color-success-contrast: var(--ion-text-color);
  --ion-color-success-contrast-rgb: var(--ion-text-color-rgb);
  --ion-color-success-shade: #9ec89f;
  --ion-color-success-tint: #bce6bc;

  --ion-color-warning: #f3dd59;
  --ion-color-warning-rgb: 243,221,89;
  --ion-color-warning-contrast: var(--ion-text-color);
  --ion-color-warning-contrast-rgb: var(--ion-text-color-rgb);
  --ion-color-warning-shade: #d6c24e;
  --ion-color-warning-tint: #f4e06a;

  --ion-color-danger: #da3e52;
  --ion-color-danger-rgb: 218,62,82;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #c03748;
  --ion-color-danger-tint: #de5163;

  --ion-color-dark: #5f4437;
  --ion-color-dark-rgb: 95,68,55;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #543c30;
  --ion-color-dark-tint: #6f574b;

  --ion-color-medium: #dfd9c9;
  --ion-color-medium-rgb: 223,217,201;
  --ion-color-medium-contrast: var(--ion-text-color);
  --ion-color-medium-contrast-rgb: var(--ion-text-color-rgb);
  --ion-color-medium-shade: #c4bfb1;
  --ion-color-medium-tint: #e2ddce;

  --ion-color-light: #f5f2e3;
  --ion-color-light-rgb: 245,242,227;
  --ion-color-light-contrast: var(--ion-text-color);
  --ion-color-light-contrast-rgb: var(--ion-text-color-rgb);
  --ion-color-light-shade: #d8d5c8;
  --ion-color-light-tint: #f6f3e6;

  --ion-color-island: #B3E2B4;
  --ion-color-island-rgb: 179,226,180;
  --ion-color-island-contrast: var(--ion-text-color);
  --ion-color-island-contrast-rgb: var(--ion-text-color-rgb);
  --ion-color-island-shade: #9ec79e;
  --ion-color-island-tint: #bbe5bc;

  --ion-color-passport: #B4D8E3;
  --ion-color-passport-rgb: 180,216,227;
  --ion-color-passport-contrast: var(--ion-text-color);
  --ion-color-passport-contrast-rgb: var(--ion-text-color-rgb);
  --ion-color-passport-shade: #9ebec8;
  --ion-color-passport-tint: #bcdce6;

  --ion-color-todo: #FFC9D3;
  --ion-color-todo-rgb: 255,201,211;
  --ion-color-todo-contrast: var(--ion-text-color);
  --ion-color-todo-contrast-rgb: var(--ion-text-color-rgb);
  --ion-color-todo-shade: #e0b1ba;
  --ion-color-todo-tint: #ffced7;

  --ion-color-chores: #FECFAC;
  --ion-color-chores-rgb: 254,207,172;
  --ion-color-chores-contrast: var(--ion-text-color);
  --ion-color-chores-contrast-rgb: var(--ion-text-color-rgb);
  --ion-color-chores-shade: #e0b697;
  --ion-color-chores-tint: #fed4b4;
}

.ion-color-island {
  --ion-color-base: var(--ion-color-island);
  --ion-color-base-rgb: var(--ion-color-island-rgb);
  --ion-color-contrast: var(--ion-color-island-contrast);
  --ion-color-contrast-rgb: var(--ion-color-island-contrast-rgb);
  --ion-color-shade: var(--ion-color-island-shade);
  --ion-color-tint: var(--ion-color-island-tint);
}

.ion-color-passport {
  --ion-color-base: var(--ion-color-passport);
  --ion-color-base-rgb: var(--ion-color-passport-rgb);
  --ion-color-contrast: var(--ion-color-passport-contrast);
  --ion-color-contrast-rgb: var(--ion-color-passport-contrast-rgb);
  --ion-color-shade: var(--ion-color-passport-shade);
  --ion-color-tint: var(--ion-color-passport-tint);
}

.ion-color-todo {
  --ion-color-base: var(--ion-color-todo);
  --ion-color-base-rgb: var(--ion-color-todo-rgb);
  --ion-color-contrast: var(--ion-color-todo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-todo-contrast-rgb);
  --ion-color-shade: var(--ion-color-todo-shade);
  --ion-color-tint: var(--ion-color-todo-tint);
}

.ion-color-chores {
  --ion-color-base: var(--ion-color-chores);
  --ion-color-base-rgb: var(--ion-color-chores-rgb);
  --ion-color-contrast: var(--ion-color-chores-contrast);
  --ion-color-contrast-rgb: var(--ion-color-chores-contrast-rgb);
  --ion-color-shade: var(--ion-color-chores-shade);
  --ion-color-tint: var(--ion-color-chores-tint);
}