<ion-content>
  <div class="villagers-container">
    <ion-searchbar animated mode="ios" [(ngModel)]="searchFilter" (ionChange)="applySearchFilter()"></ion-searchbar>
    <div class="villagers-list-container fade-in" *ngIf="!isSearching">
      <div class="empty-state" *ngIf="!finishedImporting">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
        The Villagers are still being imported by Pocket Companion! Come back again in a couple minutes.
      </div>
      <div class="empty-state" *ngIf="finishedImporting && caughtVillagers.length === 0">
        There are no Villagers registered in your island right now. Try searching for them with the search bar above!
      </div>
      <div class="villager caught" *ngFor="let villager of caughtVillagers" (click)="toggleCaught($event, villager)">
        <ion-avatar>
          <ion-img [src]="villager.iconBase64"></ion-img>
        </ion-avatar>
        <ion-label>{{ villager.name }}</ion-label>
      </div>
    </div>
    <div class="search-results fade-in" *ngIf="isSearching">
      <ion-virtual-scroll [items]="searchResults" approxItemHeight="56px">
        <ion-item *virtualItem="let item" detail (click)="openDetails(item)">
          <ion-avatar slot="start">
            <ion-img [src]="item.iconBase64"></ion-img>
          </ion-avatar>
          <ion-label>{{item.name}}</ion-label>
          <ion-chip
            [ngClass]="{'caught-chip': item.caught, 'not-caught-chip': !item.caught}"
            class="caught-chip"
            slot="end"
            (click)="toggleCaught($event, item)"
          >
            {{ item.caught ? 'Lives here' : 'Doesn\'t live here' }}
          </ion-chip>
        </ion-item>
      </ion-virtual-scroll>
    </div>
  </div>
</ion-content>
