<div id="transition-effect"></div>
<img id="transition-icon" />
<span id="transition-label"></span>
<ion-content>
  <div class="center-content">
    <h1>Pocket Companion</h1>
    <div class="home-card-menu">
      <div class="header-bar">
        <span>{{ playerName$ | async }}</span>
        <span>{{ today | date: 'dd/MM' }}</span>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <app-feature-icon
              [label]="islandName$ | async"
              icon="island"
              [color]="utils.getCssVarValue('--ion-color-island')"
              (click)="goToPage($event, '#B3E2B4', '/island', 'island', 'My Island' )"
            ></app-feature-icon>
          </ion-col>
          <ion-col>
            <app-feature-icon
              label="Some Feature"
              icon="passport"
              [color]="utils.getCssVarValue('--ion-color-passport')"
            ></app-feature-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-feature-icon
              label="To-Do"
              icon="todo"
              [color]="utils.getCssVarValue('--ion-color-todo')"
              (click)="goToPage($event, '#FFC9D3', '/todo', 'todo', 'To-Do')"
            ></app-feature-icon>
          </ion-col>
          <ion-col>
            <app-feature-icon
              label="Daily Chores"
              icon="chores"
              [color]="utils.getCssVarValue('--ion-color-chores')"
              (click)="goToPage($event, '#FECFAC', '/chores', 'chores', 'Daily Chores')"
            ></app-feature-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <a class="about-link" [routerLink]="['/about']">About this app</a>
  </div>
</ion-content>
