<ion-content>
  <div class="center-content">
    <h1>Pocket Companion</h1>
    <div class="home-card-menu">
      <div class="header-bar">
        <span>{{ playerName }}</span>
        <span>{{ today | date: 'dd/MM' }}</span>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <app-feature-icon label="Passport" icon="passport" [color]="utils.getCssVarValue('--passport-bg-color')" route="/passport"></app-feature-icon>
          </ion-col>
          <ion-col>
            <app-feature-icon label="Island" icon="island" [color]="utils.getCssVarValue('--island-bg-color')" route="/island"></app-feature-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-feature-icon label="To-Do" icon="todo" [color]="utils.getCssVarValue('--todo-bg-color')" route="/todo"></app-feature-icon>
          </ion-col>
          <ion-col>
            <app-feature-icon label="Daily Chores" icon="chores" [color]="utils.getCssVarValue('--chores-bg-color')" route="/chores"></app-feature-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
