<ion-content>
  <div class="center-content">
    <h1>Pocket Companion</h1>
    <div class="home-card-menu">
      <div class="header-bar">
        <span>Name</span>
        <span>{{ today | date: 'dd/MM' }}</span>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <app-feature-icon label="Passport" icon="passport" color="#BDA776"></app-feature-icon>
          </ion-col>
          <ion-col>
            <app-feature-icon label="Island" icon="island" color="#b4e3b5"></app-feature-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-feature-icon label="To-Do" icon="todo" color="#F8A4B1"></app-feature-icon>
          </ion-col>
          <ion-col>
            <app-feature-icon label="Daily Chores" icon="chores" color="#88C38B"></app-feature-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<!-- 
BDA776 brown
F78C66 orange
F8A4B1 pink
88C38B green
-->